<%= form_for @record, url: record_attachment_path(@record, 'ARCHIVAL_WAV') do |f| %>
  <h4>Audio</h4>
  <%= render 'attachments/files_form/upload', dsid: 'ARCHIVAL_WAV', record: @record %>
<% end %>

<%= form_for @record, url: record_attachment_path(@record, 'ARCHIVAL_XML') do |f| %>
  <h4>Transcript</h4>
  <%= render 'attachments/files_form/upload', dsid: 'ARCHIVAL_XML', record: @record %>
<% end %>

