<h1>Manage Metadata Templates</h1>
<small><%= link_to "< Back to Menu", '/', id: "Home" %></small>

<div>
  <small>* Note: Only templates that include Title and Displays are valid for imports.</small>
</div>

<table class="table">
  <thead>
  <tr>
    <th><%= button_to "New Template", templates_path, class: "btn btn-primary" %></th>
    <th>PID</th>
    <th>Template Name</th>
    <th>Modified</th>
    <th>By</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <%= render partial: 'template', collection: @document_list, as: :template %>

  <tr>
    <td><%= button_to "New Template", templates_path, class: "btn btn-primary" %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>

</table>
