<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="blueline"></div>
    <div class="container">
      <div class="navbar-header">
        <%= link_to application_name, root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-right">
        <div class="nav navbar-nav" id="searchbar">
          <% unless controller_name.in?(['contribute','templates','records']) %>
            <%= render_search_bar %>
            <div id='search_link'>
              <%= link_to 'Advanced Search', advanced_search_path %>
            </div>
          <% end %>
        </div>
        <div class="nav navbar-nav">
        <%= render '/user_util_links' %>
        </div>
      </div>

    </div>
</div>
