<% if f.object.respond_to?(:template_name) %>
  <h3 class="non lower">
    Template Metadata
    <small class="pull-right"><span class="error">*</span> indicates required fields</small>
  </h3>
  <div class="row">
    <div class="col-sm-8">
      <div class="well">
        <% f.object.template_name = '' if f.object[:template_name].empty? %>
        <%= render "edit_field", f: f, render_req: true, key: :template_name  %>
      </div>
    </div>
  </div>
<% end %>
