# dedicate workers to a single queue with:
# queuename: #ofworkers 
# share workers across named queues with:
# “queuename1 queuename2 queuename3”: #ofworkers
# allocate workers to all queues with *:
#
development:
  "*": 2

test:
  "*": 2

production:
  "derivatives,handle,templates,import,publish,unpublish,export,purge,revert": 5
# all manifest jobs must be processed by a single worker
# to avoid concurrency issues
  "manifest": 1

