<%= render 'show_default', document: document %>

<h3>MP3</h3>
<audio controls>
  <source src="<%= download_path(document.id, datastream_id: 'ACCESS_MP3') %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<br />
<%= link_to "Download ACCESS_MP3", download_path(document.id, datastream_id: 'ACCESS_MP3') %>

<% download_links = { "ARCHIVAL_WAV" => "Archival WAV",
                      "ARCHIVAL_XML" => "XML" } %>

<% download_links.each do |dsid, title| %>
  <%= render partial: 'show_datastream_download_link', locals: { document: document, dsid: dsid, download_section_title: title } %>
<% end %>
