<%= render partial: 'show_default', locals: {document: document} %>

<% download_links = { 'Archival.video' => 'Archival Video',
                      'ARCHIVAL_XML' => 'Archival XML',
                      'Access.webm' => 'WebM',
                      'Access.mp4' => 'MP4' } %>

<% download_links.each do |dsid, title| %>
  <%= render partial: 'show_datastream_download_link', locals: { document: document, dsid: dsid, download_section_title: title } %>
<% end %>

<h3>Access Video</h3>
<video controls>
  <source src="<%= download_path(document.id, datastream_id: 'Access.webm') %>"
   type='video/webm;codecs="vp8, vorbis"'/>
  <source src="<%= download_path(document.id, datastream_id: 'Access.mp4') %>"
   type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
</video>
