<h1>Upload files</h1>

<%= bootstrap_form_for @batch, as: :batch, url: batch_path(@batch), :html => { :multipart => true, :id => 'fileupload' } do |f| %>
  <%= render 'bootstrap_upload_form', f: f %>
<% end %>

<%= link_to "Batch Summary", batch_path(@batch), class: 'js-only hidden disabled btn btn-primary', id: 'next_button' %>

