<div class="col-sm-12">
  <h1>Batch Status</h1>

  <%= link_to "All batches", batches_path %>

  <%= render 'batch_info', batch: @batch, records_by_pid: @records_by_pid %>
  <%= render "batch_actions", batch: @batch %>
  <%= render "batch_items", batch: @batch, records_by_pid: @records_by_pid %>
</div>
