<div class="col-sm-12">
  <h1>Batch Status</h1>

  <%= link_to "All batches", batches_path %>

  <%= render 'batch_info', batch: resource %>
  <%= render "batch_actions", batch: resource %>
  <%= render "batch_items", batch: resource %>
</div>
