$logo_image: 'mira.png';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';

#header-navbar .navbar-brand {
  width: 216px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0.7em;
}

#searchbar {
  padding-top: 0.5em;
}

#search_link {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
